body {
    background-image: url(https://raw.githubusercontent.com/marvindanig/css-architecture-2024-a-primer-on-intrinsic-web-design/master/assets/images/new-web.jpg);
    background-size: 200% 100%;
    background-position: center left;
}


h1 {
    font-size: 10dvmin;
    line-height: 1.25;
}

.highlight {
    color: darkviolet;
}