body {
    background-image: url(https://raw.githubusercontent.com/marvindanig/css-architecture-2024-a-primer-on-intrinsic-web-design/master/assets/images/history.jpg);
    background-size: 200% 100%;
    background-position: center right;
}